
<h1>User Info</h1>
<hr>

<div class="row">
    <div class="col-4">
        <h3>Usuario Actual: {{userId()}} </h3>
        <button (click)="loadUser(userId() -1)"
            class="btn btn-primary">Anterior</button>
        &nbsp;
        <button (click)="loadUser(userId() +1)"
            class="btn btn-primary">Siguiente</button>
        &nbsp;
    </div>

    <div *ngIf="currentUser()"
        class="col-8">
        <h3>Usuario</h3>
        <hr>
        <p>Correo: {{ currentUser()!.email }}</p>
        <p>Nombre: {{ userFullName() }}</p>
        <img src="{{currentUser()!.avatar}}" alt="Avatar" class="rounded-circle">
    </div>

    <div  *ngIf="!userWasFound()" class="col-8 text-danger">
        <h3>Usuario no encontrado...</h3>
    </div>

</div>
