<h1>Mutaciones</h1>
<hr>

<div class="row">
    <div class="col-6">

        <input
            #txtEmail
            type="text"
            class="form-control"
            (input)="onFieldUpdated('email', txtEmail.value)"
            class="mb-2"
            [value]="user().email">

        <input
            #txtFirstName
            type="text"
            class="form-control"
            (input)="onFieldUpdated('first_name', txtFirstName.value)"
            class="mb-2"
            [value]="user().first_name">

        <input
            #txtLastName
            type="text"
            class="form-control"
            (input)="onFieldUpdated('last_name', txtLastName.value)"
            class="mb-2"
            [value]="user().last_name">

    </div>

    <div class="col-6">
        <!-- Data del usuario -->
         <pre>{{ user() | json }}</pre>
    </div>

    {{ fullname() }}

    <button
    (click)="increaseBy(+1)"
     class="btn btn-primary"> + </button>

</div>